//----------Colors--------//
$white: #fff;
$dark-green: #364E51;
$orange: #F3B61C;
$blue-light:#0D9CA4;
//----------Tipografias-------//
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;
//----------
//----------------IDS---------------//
body {
    color: $white;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
//------------VIEWS----------------//
.mobile-section {
    display: none;
}
.tablet-special-section{
    display: none;
}
//-------------HEADER--------------//
.container-fluid {
    margin: 0;
    padding: 0;
}
.container-img-header{
    height: 500px;
    object-fit: cover;
}
.img-header-filter { 
    filter: brightness(50%);
}
.logo {
    width: 60%;
}
.nav-container {
    padding: 2em 10em;
}
.nav-link-menu {
    font-size: 22px;
    color: $white !important;
    font-weight: $light;
}
.nav-link-drop{
    font-size: 20px;
    color: $white !important;
    font-weight: $light;
}
.nav-link-drop:hover{
    background: $orange;
}
.nav-link-menu:hover {
    color: $orange !important;
}
.btn-search {
    color: $white;
    border-color: $white;
    box-shadow: none;
    background: none;
    border: 0.1em solid #fff;
    border-radius: 0.3em;
    padding: 0.5em 1em;
}
.btn-search:hover {
    color: $orange;
    background: none;
    border-color: $orange;
}
.bg-light {
    background: none;
}
.container-menu-drop{
    background-color: rgba(0, 0, 0, 0.50);
}
//--------------FOOTER------------//
.container-footer {
    padding: 1.5em;
    background: $dark-green;
    text-align: center;
}
.copyright {
    font-size: 15px;
    color: $white;
    text-decoration: none;
}
.copyright:hover {
    color: $white;
}
//---------MAIN PAGE-------------//
//---------SPECIAL SECTION-------//
.special-section {
    padding: 4em 13em;
    text-align: center;
}
.img-border {
    border-radius: .5em;
}
h1 {
    font-size: 30px;
    font-weight: $bold;
    margin: 1em;
}
h2 {
    font-size: 30px;
    font-weight: $bold;
    margin: 1em;
    color: $white;
}
h3 {
    font-size: 25px;
    font-weight: $regular;
    margin: 1em;
}
.card-special {
    border: .5em;
    background: transparent;
}
.card-description {
    font-size: 17px;
    font-weight: $light;
    margin: 1em;
}
.special-buttom-main {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    border: 0.1em solid #fff;
    text-decoration: none;
    border-radius: 0.5em;
    padding: 0.5em 3em;
}
.special-buttom-main:hover {
    color: $orange;
    border: .1em solid $orange;
}
//---------EXPLORE SECTION-------//
.explore-section {
    padding: 4em 13em;
    background: $blue-light;
    text-align: center;
    color: $white;
}
.card-explore {
    background: transparent;
    border: none;
}
.card-body-explore {
    margin: 6em;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.50);
}
//---------CAMPING SECTION-------//
.camping-section {
    padding: 4em 13em;
    background: $dark-green;
    text-align: center;
    color: $white;
}
.card-camping {
    background: $blue-light;
    border: none;
    margin-bottom: 1em;
}
//---------HIKES SECTION----------//
.hikes-section {
    padding: 2em 13em 4em;
    background: $dark-green;
    text-align: center;
    color: $white;
}
.pics {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}
.grid-wrapper .pics {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5em;
}
.grid-wrapper {
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(258px, 1fr));
    grid-auto-rows: 120px;
    grid-auto-flow: dense;
    margin-bottom: 3em;
}
.wide {
    grid-column: span 2;
}
.big {
    grid-column: span 2;
    grid-row: span 4;
}
.btn-hikes {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    border: 0.1em solid #fff;
    text-decoration: none;
    border-radius: 0.5em;
    padding: 0.5em 11em;
    margin-top: 4em;
}
.btn-hikes:hover {
    color: $orange;
    border: .1em solid $orange;
}
//----------NIGHT SECTION----------//
.night-section{
    padding: 4em 13em;
    background: $blue-light;
}
.night-light-section {
    padding: 4em 2em;
    background: $blue-light;
    text-align: center;
    color: $white;
    border: .5em $dark-green solid;
    margin: 0;
    border-radius: .5em;
}
.night-dark-section {
    margin: auto;
    padding: .1em 0 2em;
    background: #364E51;
    text-align: center;
    width: 100%;
    border-radius: .5em;
}
//-------CATEGORY PAGE------------//
//-------CATEGORY SECTION---------//
.category-section{
    padding: 7em 13em 4em;
    background: $blue-light;
    text-align: center;
    color: $white;
}
.large{
    grid-column: span 3;
}
.box-header-section{
    padding: 1em 13em;
}
.card-category {
    background: $dark-green;
    border: none;
    margin-bottom: 1em;
}
.box-container{
    position: relative;
    display: flex;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .3em;
    width: auto;
    height: 25em;
    padding: 1.5rem;
    margin-top: 22em;
    background-color:  rgba(0, 0, 0, 0.5);
}
.scroll { 
    overflow-y: auto;
}
.box-text {
    color: #fff;
    margin: 0;
    font-weight: 300; 
} 
.subtitle-category{
    font-size: 25px;
    font-weight: $regular;
    margin: .5em;
    text-align: left;
}
.description-category{
    font-size: 20px;
    font-weight: $light;
    margin: .5em;
    text-align: left;
}
//-------------SPECIFIC EVENT--------------//
.specific-event-section{
    background: $blue-light;
    padding: 7em 13em 4em;
    color: $white;
}
.card-event{
    background: $dark-green;
    border: none;
    border-radius: .5em;
}
.card-title-event{
    font-size: 30px;
    font-weight: $regular;
    margin: auto;
}
.header-nav-event{
    background: $dark-green;
    border-radius: .5em;
}
.card-item-specific{
    font-size: 25px;
    font-weight: $regular;
    padding: .4em;
    background: transparent;
    margin: auto;
}
.card-nav-link{
    color: $white;
}
.card-nav-link:hover{
    color: $orange;
}
.card-nav-link.active{
    background: $blue-light !important;
}
.container-description-specific{
    background: $dark-green;
    height: 60%;
    border-radius: .5em;
    padding: 1em;
}
.item-specific{
    font-size: 20px;
    font-weight: 100;
}
.container-category-specific{
    padding: 1em 0em;
    display: inline-block;
}
.category-specific{
    color: $white;
    text-decoration: none;
    font-size: 18px;
    font-weight: $light;
    padding: .5em .5em .5em 0;
}
.category-specific:hover{
    color: $orange;
}
.container-btn-register{
    padding: 3em;
    text-align: center;
}
.event-btn{
    font-size: 18px;
    font-weight: 400;
    color: $white;
    border: 0.1em solid $white;
    text-decoration: none;
    border-radius: 0.5em;
    padding: 0.5em 3em;
}
.event-btn:hover{
    color: $orange;
    border: 0.1em solid $orange;
}
.grid-wrapper-event {
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
    margin-bottom: 3em;
}
.grid-wrapper-event .pics {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5em;
}
//----------RELATED SECTION---------//
.related-section{
    background: $dark-green;
    color: $white;
    padding: 4em 12em;
}
.card-related-img{
    border-radius: .5em;
}
.event-related-link{
    text-decoration: none;
    color: $white;
}
.event-related-link:hover{
    color: $white;
}
//---------FOOTER-RELATED------------//
.container-footer-related{
    padding: 1.5em;
    background: $blue-light;
    text-align: center;
}
.img-related-event{
    border-radius: .5em;
    filter: brightness(70%);
}
//-------------MODAL----------------
.container-register{
    background: $blue-light;
    color: $white;
    width: 600px;
}
.header-modal{
    padding: 1em;
    background: $dark-green;
}
.footer-modal-event{
    background: $dark-green;
    padding: 1em;
}
.white-logo{
    width: 15%;
}
.mob-close-modal{
    background: transparent;
    box-sizing: content-box;
    border: 0;
    color: $white;
    font-size: 1.7em;
    float: right;
    padding: .5em;
}
.btn-register-model{
    font-size: 16px;
    font-weight: $regular;
    padding: .5em 3em;
    border-radius: 0.5em;
    background: $blue-light;
    float: right;
    border: none;
    margin: 1em;
}
.btn-register-model:hover{
    background: none;
    border: 0.1em solid $orange;
    color: $orange;
}
.input-total-specific{
    background: $dark-green;
    color: $white;
    font-size: 20px;
    border: 0.1em solid $white;
}
.container-input-specific{
    margin: 1em 0;
}
//------------------MOBILE----------------//
@media screen and (max-width: 480px) {
    //----------HEADER SECTION----------
    .mobile-section {
        display: block;
    }
    .tablet-special-section{
        display: none;
    }
    .desktop-section {
        display: none;
    }
    .container-img-header{
        height: 300px;
    }
    .logo{
        width: 30%;
    }
    .nav-container {
        padding: .5em 2em;
        background: $dark-green;
    }
    .menu-mobile {
        color: $white !important;
        font-size: 25px;
        box-shadow: none;
        border: 0;
    }
    .menu-mobile:focus{
        box-shadow: none;
    }
    //---------SPECIAL SECTION--------//
    .special-section {
        padding: 2em;
        background: $dark-green;
    }
    h2 {
        font-size: 25px;
        margin: .5em;
    }
    .card-description {
        margin: .5em;
    }
    .special-buttom-main {
        padding: 0.5em 1em;
    }
    //---------EXPLORE SECTION-------//
    .explore-section {
        padding: 2em;
    }
    .card-body-explore {
        margin: 3em;
    }
    //---------CAMPING SECTION-------//
    .camping-section {
        padding: 2em;
    }
    h3 {
        font-size: 20px;
        margin: .5em;
    }
    //----------HIKES SECTION--------//
    .hikes-section {
        padding: 2em;
    }
    .grid-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        grid-auto-rows: 80px;
    }
    .btn-hikes {
        padding: 0.5em 6.5em;
    }
    //--------NIGHT SECTION---------//
    .night-light-section {
        padding: 1em .1em;
        margin: 0;
        border: 0.2em $dark-green solid;
    }
    .night-section {
        padding: 2em;
    }
    .night-dark-section {
        padding: .5em;
    }
    .btn-night {
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        border: 0.1em solid #fff;
        text-decoration: none;
        border-radius: 0.5em;
        padding: 0.5em .5em;
    }
    .btn-night:hover {
        color: $orange;
        border: .1em solid $orange;
    }
    //--------FOOTER-------------//
    .container-footer {
        padding: .5em;
    }
    .copyright {
        font-size: 12px;
    }
    //--------CATEGORY SECTION------//
    .category-section{
        padding: 2em;
    }
    .box-header-section {
        padding: 1em;
    }
    .box-container{
        margin-top: 0;
        height: 9em;
    }
    .description-category{
        font-size: 13px;
        margin: .5em; 
        text-align: left;
    }
    .box-header-section {
        padding: 0 0 1em;
    }
    .title-category-mobile{
        font-size: 25px;
        font-weight: $bold;
        margin: 0 0 1em;
        color: $white;
        text-align: left;
    }
    .subtitle-category{
        margin: 0;
        font-size: 22px;
    }
    .description-category{
        margin: 0;
        font-size: 20px;
    } 
    //--------EVENT SECTION--------//
    .specific-event-section{
        padding: 2em;
    }
    .card-title-event{
        font-size: 20px;
    }
    .card-item-specific{
        font-size: 15px;
    }
    .header-nav-event{
        margin: 1em 0;
    }
    .item-specific{
        font-size: 15px;
    }
    .category-specific{
        font-size: 12px;
    }
    .grid-wrapper-event {
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        grid-auto-rows: 60px;
    }
    .img-related-event{
        filter: brightness(100%);
    
    }
    .event-btn{
        font-size: 15px;
    }
    .related-section{
        padding: 2em;
    }
    //---------------MODAL-----------//
    .input-total-specific{
        font-size: 15px;
    }
}
//--------------TABLET---------------//
@media screen and (min-width: 768px) and (max-width: 1024px){
    .tablet-special-header{
        display: none;
    }
    .tablet-special-section{
        display: block;
    }
    .menu-mobile{
        color: $white;
        font-size: 45px;
    }
    .nav-container{
        padding: 1em 3em 0em;
    }
    h3{
        font-size: 23px;
    }
    //-------SPECIAL SECTION--------//
    .special-section{
        padding: 3em;
        background: $dark-green;
    }
    .card-special{
        background: $blue-light;
        border-radius: .5em;
    }
    //--------EXPLORE SECTION------//
    .explore-section{
        padding: 3em;
    }
    .card-body-explore{
        margin: 2em;
    }
    //--------CAMPING SECTION......//
    .camping-section{
        padding: 3em;
    }
    h2{
        margin: .5em;
    }
    //--------HIKES SECTION......//
    .hikes-section{
        padding: 3em;
    }
    .grid-wrapper{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    //--------NIGHT SECTION......//
    .night-section{
        padding: 3em;
    }
    .night-light-section{
        padding: 2em 0em;
    }
    //---------CATEGORY SECTION----
    .box-container{
        height: 13em;
        margin-top: 1em;
    }
    .tablet-category-description{
        display: none;
    }
    .category-section{
        padding: 3em;
    }
    .tablet-section-description-mobile{
        display: block;
    }
    .title-category-mobile{
        text-align: left;
        font-size: 40px;
    }
    .box-header-section{
        padding: 0em 0 2em;
    }
    .subtitle-category{
        margin: 0;
        font-size: 25px;
    }
    .description-category{
        margin: 0 0 .5em 0;
        font-size: 20px;
    } 
    //--------EVENT SECTION------------//
    .specific-event-section{
        padding: 3em;
    }
    .card-item-specific{
        font-size: 17px;
    }
    .item-specific{
        font-size: 15px;
        margin-bottom: .5em;
    }
    .category-specific{
        font-size: 12px;
    }
    .container-category-specific{
        padding: 0;
    }
    .grid-wrapper-event {
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        grid-auto-rows: 50px;
    }
    .container-btn-register{
        padding: 2em;
    }
    .related-section{
        padding: 3em;
    }
    //--------------MODAL-----------//
    .input-total-specific{
        font-size: 15px;
    }
}
