body {
  color: #fff;
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-section {
  display: none;
}

.tablet-special-section {
  display: none;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.container-img-header {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-header-filter {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.logo {
  width: 60%;
}

.nav-container {
  padding: 2em 10em;
}

.nav-link-menu {
  font-size: 22px;
  color: #fff !important;
  font-weight: 300;
}

.nav-link-drop {
  font-size: 20px;
  color: #fff !important;
  font-weight: 300;
}

.nav-link-drop:hover {
  background: #F3B61C;
}

.nav-link-menu:hover {
  color: #F3B61C !important;
}

.btn-search {
  color: #fff;
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  border: 0.1em solid #fff;
  border-radius: 0.3em;
  padding: 0.5em 1em;
}

.btn-search:hover {
  color: #F3B61C;
  background: none;
  border-color: #F3B61C;
}

.bg-light {
  background: none;
}

.container-menu-drop {
  background-color: rgba(0, 0, 0, 0.5);
}

.container-footer {
  padding: 1.5em;
  background: #364E51;
  text-align: center;
}

.copyright {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

.copyright:hover {
  color: #fff;
}

.special-section {
  padding: 4em 13em;
  text-align: center;
}

.img-border {
  border-radius: 0.5em;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 1em;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 1em;
  color: #fff;
}

h3 {
  font-size: 25px;
  font-weight: 400;
  margin: 1em;
}

.card-special {
  border: 0.5em;
  background: transparent;
}

.card-description {
  font-size: 17px;
  font-weight: 300;
  margin: 1em;
}

.special-buttom-main {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  border: 0.1em solid #fff;
  text-decoration: none;
  border-radius: 0.5em;
  padding: 0.5em 3em;
}

.special-buttom-main:hover {
  color: #F3B61C;
  border: 0.1em solid #F3B61C;
}

.explore-section {
  padding: 4em 13em;
  background: #0D9CA4;
  text-align: center;
  color: #fff;
}

.card-explore {
  background: transparent;
  border: none;
}

.card-body-explore {
  margin: 6em;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.camping-section {
  padding: 4em 13em;
  background: #364E51;
  text-align: center;
  color: #fff;
}

.card-camping {
  background: #0D9CA4;
  border: none;
  margin-bottom: 1em;
}

.hikes-section {
  padding: 2em 13em 4em;
  background: #364E51;
  text-align: center;
  color: #fff;
}

.pics {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.grid-wrapper .pics {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5em;
}

.grid-wrapper {
  grid-gap: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 120px;
  grid-auto-flow: dense;
  margin-bottom: 3em;
}

.wide {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.big {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-span: 4;
  grid-row: span 4;
}

.btn-hikes {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  border: 0.1em solid #fff;
  text-decoration: none;
  border-radius: 0.5em;
  padding: 0.5em 11em;
  margin-top: 4em;
}

.btn-hikes:hover {
  color: #F3B61C;
  border: 0.1em solid #F3B61C;
}

.night-section {
  padding: 4em 13em;
  background: #0D9CA4;
}

.night-light-section {
  padding: 4em 2em;
  background: #0D9CA4;
  text-align: center;
  color: #fff;
  border: 0.5em #364E51 solid;
  margin: 0;
  border-radius: 0.5em;
}

.night-dark-section {
  margin: auto;
  padding: 0.1em 0 2em;
  background: #364E51;
  text-align: center;
  width: 100%;
  border-radius: 0.5em;
}

.category-section {
  padding: 7em 13em 4em;
  background: #0D9CA4;
  text-align: center;
  color: #fff;
}

.large {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.box-header-section {
  padding: 1em 13em;
}

.card-category {
  background: #364E51;
  border: none;
  margin-bottom: 1em;
}

.box-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.3em;
  width: auto;
  height: 25em;
  padding: 1.5rem;
  margin-top: 22em;
  background-color: rgba(0, 0, 0, 0.5);
}

.scroll {
  overflow-y: auto;
}

.box-text {
  color: #fff;
  margin: 0;
  font-weight: 300;
}

.subtitle-category {
  font-size: 25px;
  font-weight: 400;
  margin: 0.5em;
  text-align: left;
}

.description-category {
  font-size: 20px;
  font-weight: 300;
  margin: 0.5em;
  text-align: left;
}

.specific-event-section {
  background: #0D9CA4;
  padding: 7em 13em 4em;
  color: #fff;
}

.card-event {
  background: #364E51;
  border: none;
  border-radius: 0.5em;
}

.card-title-event {
  font-size: 30px;
  font-weight: 400;
  margin: auto;
}

.header-nav-event {
  background: #364E51;
  border-radius: 0.5em;
}

.card-item-specific {
  font-size: 25px;
  font-weight: 400;
  padding: 0.4em;
  background: transparent;
  margin: auto;
}

.card-nav-link {
  color: #fff;
}

.card-nav-link:hover {
  color: #F3B61C;
}

.card-nav-link.active {
  background: #0D9CA4 !important;
}

.container-description-specific {
  background: #364E51;
  height: 60%;
  border-radius: 0.5em;
  padding: 1em;
}

.item-specific {
  font-size: 20px;
  font-weight: 100;
}

.container-category-specific {
  padding: 1em 0em;
  display: inline-block;
}

.category-specific {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  padding: 0.5em 0.5em 0.5em 0;
}

.category-specific:hover {
  color: #F3B61C;
}

.container-btn-register {
  padding: 3em;
  text-align: center;
}

.event-btn {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  border: 0.1em solid #fff;
  text-decoration: none;
  border-radius: 0.5em;
  padding: 0.5em 3em;
}

.event-btn:hover {
  color: #F3B61C;
  border: 0.1em solid #F3B61C;
}

.grid-wrapper-event {
  grid-gap: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  margin-bottom: 3em;
}

.grid-wrapper-event .pics {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5em;
}

.related-section {
  background: #364E51;
  color: #fff;
  padding: 4em 12em;
}

.card-related-img {
  border-radius: 0.5em;
}

.event-related-link {
  text-decoration: none;
  color: #fff;
}

.event-related-link:hover {
  color: #fff;
}

.container-footer-related {
  padding: 1.5em;
  background: #0D9CA4;
  text-align: center;
}

.img-related-event {
  border-radius: 0.5em;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.container-register {
  background: #0D9CA4;
  color: #fff;
  width: 600px;
}

.header-modal {
  padding: 1em;
  background: #364E51;
}

.footer-modal-event {
  background: #364E51;
  padding: 1em;
}

.white-logo {
  width: 15%;
}

.mob-close-modal {
  background: transparent;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 0;
  color: #fff;
  font-size: 1.7em;
  float: right;
  padding: 0.5em;
}

.btn-register-model {
  font-size: 16px;
  font-weight: 400;
  padding: 0.5em 3em;
  border-radius: 0.5em;
  background: #0D9CA4;
  float: right;
  border: none;
  margin: 1em;
}

.btn-register-model:hover {
  background: none;
  border: 0.1em solid #F3B61C;
  color: #F3B61C;
}

.input-total-specific {
  background: #364E51;
  color: #fff;
  font-size: 20px;
  border: 0.1em solid #fff;
}

.container-input-specific {
  margin: 1em 0;
}

@media screen and (max-width: 480px) {
  .mobile-section {
    display: block;
  }

  .tablet-special-section {
    display: none;
  }

  .desktop-section {
    display: none;
  }

  .container-img-header {
    height: 300px;
  }

  .logo {
    width: 30%;
  }

  .nav-container {
    padding: 0.5em 2em;
    background: #364E51;
  }

  .menu-mobile {
    color: #fff !important;
    font-size: 25px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0;
  }

  .menu-mobile:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .special-section {
    padding: 2em;
    background: #364E51;
  }

  h2 {
    font-size: 25px;
    margin: 0.5em;
  }

  .card-description {
    margin: 0.5em;
  }

  .special-buttom-main {
    padding: 0.5em 1em;
  }

  .explore-section {
    padding: 2em;
  }

  .card-body-explore {
    margin: 3em;
  }

  .camping-section {
    padding: 2em;
  }

  h3 {
    font-size: 20px;
    margin: 0.5em;
  }

  .hikes-section {
    padding: 2em;
  }

  .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-auto-rows: 80px;
  }

  .btn-hikes {
    padding: 0.5em 6.5em;
  }

  .night-light-section {
    padding: 1em 0.1em;
    margin: 0;
    border: 0.2em #364E51 solid;
  }

  .night-section {
    padding: 2em;
  }

  .night-dark-section {
    padding: 0.5em;
  }

  .btn-night {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    border: 0.1em solid #fff;
    text-decoration: none;
    border-radius: 0.5em;
    padding: 0.5em 0.5em;
  }

  .btn-night:hover {
    color: #F3B61C;
    border: 0.1em solid #F3B61C;
  }

  .container-footer {
    padding: 0.5em;
  }

  .copyright {
    font-size: 12px;
  }

  .category-section {
    padding: 2em;
  }

  .box-header-section {
    padding: 1em;
  }

  .box-container {
    margin-top: 0;
    height: 9em;
  }

  .description-category {
    font-size: 13px;
    margin: 0.5em;
    text-align: left;
  }

  .box-header-section {
    padding: 0 0 1em;
  }

  .title-category-mobile {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 1em;
    color: #fff;
    text-align: left;
  }

  .subtitle-category {
    margin: 0;
    font-size: 22px;
  }

  .description-category {
    margin: 0;
    font-size: 20px;
  }

  .specific-event-section {
    padding: 2em;
  }

  .card-title-event {
    font-size: 20px;
  }

  .card-item-specific {
    font-size: 15px;
  }

  .header-nav-event {
    margin: 1em 0;
  }

  .item-specific {
    font-size: 15px;
  }

  .category-specific {
    font-size: 12px;
  }

  .grid-wrapper-event {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    grid-auto-rows: 60px;
  }

  .img-related-event {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }

  .event-btn {
    font-size: 15px;
  }

  .related-section {
    padding: 2em;
  }

  .input-total-specific {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .tablet-special-header {
    display: none;
  }

  .tablet-special-section {
    display: block;
  }

  .menu-mobile {
    color: #fff;
    font-size: 45px;
  }

  .nav-container {
    padding: 1em 3em 0em;
  }

  h3 {
    font-size: 23px;
  }

  .special-section {
    padding: 3em;
    background: #364E51;
  }

  .card-special {
    background: #0D9CA4;
    border-radius: 0.5em;
  }

  .explore-section {
    padding: 3em;
  }

  .card-body-explore {
    margin: 2em;
  }

  .camping-section {
    padding: 3em;
  }

  h2 {
    margin: 0.5em;
  }

  .hikes-section {
    padding: 3em;
  }

  .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .night-section {
    padding: 3em;
  }

  .night-light-section {
    padding: 2em 0em;
  }

  .box-container {
    height: 13em;
    margin-top: 1em;
  }

  .tablet-category-description {
    display: none;
  }

  .category-section {
    padding: 3em;
  }

  .tablet-section-description-mobile {
    display: block;
  }

  .title-category-mobile {
    text-align: left;
    font-size: 40px;
  }

  .box-header-section {
    padding: 0em 0 2em;
  }

  .subtitle-category {
    margin: 0;
    font-size: 25px;
  }

  .description-category {
    margin: 0 0 0.5em 0;
    font-size: 20px;
  }

  .specific-event-section {
    padding: 3em;
  }

  .card-item-specific {
    font-size: 17px;
  }

  .item-specific {
    font-size: 15px;
    margin-bottom: 0.5em;
  }

  .category-specific {
    font-size: 12px;
  }

  .container-category-specific {
    padding: 0;
  }

  .grid-wrapper-event {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-auto-rows: 50px;
  }

  .container-btn-register {
    padding: 2em;
  }

  .related-section {
    padding: 3em;
  }

  .input-total-specific {
    font-size: 15px;
  }
}